<div class="jumbotron">
    <div class="container">
        <h1 class="text-info">About us</h1>
        <p>This is a social networking app, designed with entrepreneurs and small businesses in mind.</p>
    </div>
</div>