<h1>About</h1>
<p>This is a social networking app for entrepreneurs, aspiring business owners, and business idea brainstorming. Share and get great ideas on how to start or grow your business, or find someone who shares your passion and start a collaborative enterprise!</p>