<div class="jumbotron jumbotron-about">
    <div class="row">
        <div class="col-md-4">
            <h1 class="text-danger">About Nucleo</h1>
            <p>This is a social networking app, designed with entrepreneurs and small businesses in mind.</p>
        </div>
    </div>
</div>