<div class="card">
    <div class="card-block">
        <h1 class="text-info">About us</h1>
        <p>This is a social networking app, designed with entrepreneurs and small businesses in mind.</p>
    </div>
</div>