<div class="container">
    <div class="col-md-6">
        <h1>Contact</h1>
        <p>Contact Kate at <%= mail_to "ruby.squid15@gmail.com" %></p>
        <p>Or connect with other entrepreneurs <a href=http://katesapp8.herokuapp.com/reactions>here</a></p>
    </div>
</div>