<div class="container">
    <div class="col-md-6">
        <h1 class="text-success">Contact</h1>
        <p>Contact <a href="https://rubygems.org">Kate</a>.</p>
        <p>Or connect with other entrepreneurs <a href=http://katesapp8.herokuapp.com/reactions>here</a></p>
    </div>
</div>