<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1 style="text-info">Welcome back!</h1>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1 style="text-info">Welcome!</h1>
            <p class="text-info">This is a networking site for entrepreneurs.</p>
            <%= link_to "Learn more »", "#", class: "btn btn-secondary btn-lg" %>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Connect</h2>
                <p>Find other entrepreneurs in your area.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Organize</h2>
                <p>Organize your business ideas here.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Update</h2>
                <p>Update your profile.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>