<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1 style="text-info">Welcome back!</h1>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1 style="text-info">Welcome!</h1>
            <p class="text-info">Nucleo is a networking site for entrepreneurs. <strong>Caution: radioactive zone!</strong></p>
            <%= link_to "Learn more »", "#", class: "btn btn-secondary btn-lg" %>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Ignite</h2>
                <p>Light the fuse! Meet other Nucleites here. Create an entrepreneurial explosion!</p>
                <p><%= link_to "Ignite", contact_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>React</h2>
                <p>Start a reaction! Post about your ideas and passions. Share your thoughts with Nucleo.</p>
                <p><%= link_to "React!", reactions_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Recharge</h2>
                <p>Without enrichment, there is no explosion! Update your profile.</p>
                <p><%= link_to "Update", signin_path, class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>